# TODO

https://towardsdatascience.com/winning-blackjack-using-machine-learning-681d924f197c

1. Andmestiku puhastus, ainult need asjad mida vaja on.
2. Sorteerida ära terve andmestiku peale pärast esimese kahe kaardi andmist kas käsi on soft-hand, hard-hand või paar (nagu need tabelid üleval antud lehel on). Hard-handid saame nii kätte, et kus kaks kaarti pole kas paar või üks kahest kaardist ei ole 
3. Nüüd kui meil on ära sorteeritud käed, siis iga käega peaksime välja arvutama (I assume) võiduprotsendi järgi kas me peame hittima, stay või panust duubeldama. 
4. Ja nii arvutame välja kõikide juhtudega ehk kui sul on kolm kaarti käes, neli kaarti jne.

In [33]:
import pandas as pd

data = pd.read_csv("blkjckhands.csv", index_col=False)
data = data.drop(columns=['Unnamed: 0', 'PlayerNo', 'sumofcards', 'dealcard1', 'dealcard2', 'dealcard3', 'dealcard4', 'dealcard5', 'plybustbeat', 'dlbustbeat', 'plwinamt', 'dlwinamt'])

In [34]:
data[(data["card3"]==0) & (data["card5"]!=0) & (data["card4"]!=0)]

#154980 - kus on kolmas kaart on õiges kohas
#190401 - kus on kolmas kaart vales kohas
#35603 - kus on kolmas ja neljas kaart vales kohas

,card1,card2,card3,card4,card5,sumofdeal,blkjck,winloss,ply2cardsum
61,2,10,0,2,7,19,nowin,Win,12
63,2,10,0,1,10,19,nowin,Loss,12
64,2,10,0,1,10,19,nowin,Loss,12
80,9,3,0,3,5,17,nowin,Win,12
101,5,7,0,1,5,20,nowin,Loss,12
...,...,...,...,...,...,...,...,...,...
899906,6,6,0,1,10,19,nowin,Loss,12
899907,3,9,0,4,4,19,nowin,Win,12
899924,9,4,0,3,9,17,nowin,Loss,13
899947,5,10,0,1,10,20,nowin,Loss,15
899958,3,10,0,2,2,25,nowin,Win,13

In [32]:
#Sorteerime algse soft-handideks, hard-handideks ning paarideks
twocards = data[(data["card3"]==0) & (data["card5"]==0) & (data["card4"]==0)].copy()
soft_hands = twocards[(twocards["card1"] == 11) | (twocards["card1"] == 1) | (twocards["card2"] == 11) | (twocards["card2"] == 1)].copy()
pairs = twocards[twocards["card1"] == twocards["card2"]].copy()
hardhands = twocards[(twocards["card1"] != twocards["card2"]) & ((twocards["card1"] != 11) & (twocards["card1"] != 1) & (twocards["card2"] != 11) & (twocards["card2"] != 1))]

# threecards = data[((data["card3"]!=0) & (data["card5"]==0) & (data["card4"]==0)) | ((data["card3"]==0) & (data["card5"]==0) & (data["card4"]!=0))]
# fourcards = data[(data["card3"]!=0) & (data["card5"]==0) & (data["card4"]!=0)]
# fivecards = data[(data["card3"]!=0) & (data["card5"]!=0) & (data["card4"]!=0)]
# threecards

        card1  card2  card3  card4  card5 blkjck winloss  ply2cardsum
0           7     10      0      0      0  nowin    Loss           17
1          10      9      0      0      0  nowin     Win           19
2           9      8      0      0      0  nowin    Loss           17
6          10      4      0      0      0  nowin     Win           14
7           3     10      0      0      0  nowin     Win           13
...       ...    ...    ...    ...    ...    ...     ...          ...
899986      9     10      0      0      0  nowin     Win           19
899988     10      9      0      0      0  nowin    Loss           19
899995     10      7      0      0      0  nowin    Loss           17
899998      9     10      0      0      0  nowin     Win           19
899999      5     10      0      0      0  nowin    Loss           15

[253841 rows x 8 columns]